<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
 <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ṕrice</th>
      <th>Payment</th>
      <th>sales Count</th>
      <th>Stripe Product ID:</th>
      <th>Stripe Price ID:</th>

    </tr>
  </thead>


  
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price/100) %></td>
        <td><%= button_to 'buy now', checkout_index_path, params: {id: product.id}, remote: true%></td>
        <td><%= product.sales_count %></td>
        <td><%= product.stripe_product_id %> </td>
        <td><%= product.stripe_price_id %> </td>
        <td><%= link_to 'Show', product%></td>
        <td><%= link_to 'edit', edit_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
 </table>
</div>
<br>
<%= link_to "New product", new_product_path %>
