<!DOCTYPE html>
<html>
  <head>
    <title>StoreStripe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <%= link_to 'Products', products_path %>
     <h1> To estudando</h1>
      <div id="payment-request-button">
        
  <!-- A Stripe Element will be inserted here. -->
      
      </div>
    <hr>
    <%= yield %>
  </body>
</html>
